<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/autoload.php"
         verbose="true"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="thesportsdb tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
	  <whitelist processUncoveredFilesFromWhitelist="true">
		<directory suffix=".php">./src</directory>
	  </whitelist>
	</filter>
	<log type="coverage-clover" target="build/logs/clover.xml"/>
</phpunit>
